<Files ~ "(settings\.ini|\.htaccess)">
Deny from all
</Files>

AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /adm/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)?$ index.php?path=/$1 [L,QSA]

